$preLoaderBgc: #9bfa00;

.greenBg {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: $preLoaderBgc;
  align-items: center;
  justify-content: center;
  .preloader-title {
    color: black;
    font-size: 3rem;
    text-transform: uppercase;
    font-family: "GH Serif";
    font-weight: 500;
    word-spacing: 1px;
    span {
      font-family: "Times New Roman", Times, serif;
      font-weight: 100 !important;
      opacity: 0.8;
    }
  }
  .fadeBg {
    position: absolute;
    top: 47rem;
    left: -1rem;
    width: 110%;
    height: 200%;
  }
}
// start navbar styles

.wrapper-nav {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: row;
  margin-right: 6rem;
  margin-top: 2rem;
  list-style: none;
  z-index: 5;
  //  nav items style
  .nav-items {
    overflow: hidden;
  }
}

.take {
  color: white;
  font-size: 8rem;
  display: inline-block;
  text-transform: uppercase;
  font-family: "GH Serif";
  font-weight: 500;
  margin-left: 2rem;
  opacity: 0;
  transform: translateY(80px);
  clip-path: inset(0% 0% 100% 0%);
}

.number16 {
  color: white;
  font-size: 8rem;
  display: inline-block;
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  margin-left: 10rem;
  opacity: 0;
  transform: translateY(80px);
  clip-path: inset(0% 0% 100% 0%);
}

.look {
  color: white;
  font-size: 8rem;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "GH Serif";
  margin-left: 2rem;
  opacity: 0;
  transform: translateY(80px);
  clip-path: inset(0% 0% 100% 0%);
}

.number22 {
  color: white;
  font-size: 8rem;
  display: inline-block;
  font-family: "Times New Roman", Times, serif;
  text-transform: uppercase;
  font-weight: 500;
  margin-right: 10rem;
  opacity: 0;
  transform: translateY(80px);
  clip-path: inset(0% 0% 100% 0%);
}

.ourWork {
  color: white;
  font-size: 8rem;
  opacity: 0;
  transform: translateY(80px);
  clip-path: inset(0% 0% 100% 0%);
  display: inline-block;
  text-transform: uppercase;
  font-weight: 100;
  font-family: "Times New Roman", Times, serif;
  margin-left: 2rem;
}
.landing-desc {
  font-family: "GH Serif";
  opacity: 0;
  clip-path: inset(0% 0% 100% 0%);
  transform: translateY(50px);
  font-size: 19px;
  margin-top: 2rem;
  margin-left: 3rem;
  display: inline-block;
  text-transform: capitalize;
  color: white;
  font-weight: 500;
}

.wrapper-logo {
  svg {
    height: 12.5%;
    width: 12.5%;
    margin-top: 4rem;
    margin-left: 2rem;
    clip-path: inset(100% 0% 0% 0%);
    opacity: 0;
  }
}

body .react-bubbly-transitions__bubbly-link {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-family: "GH Serif";
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  padding: 0.5rem 0;
  margin: 0 0.5rem;
  cursor: pointer;
  transition: all 0.35s ease;
  &:hover {
    color: #9bfa00;
  }
}
